Flask==2.2.2
Werkzeug==2.2.2 # dependency for Flask to work
google-cloud-storage==1.42.0
six==1.16.0 # dependncy for cloud-storage to work 
google-cloud-pubsub==2.12.0
mysql-connector-python==8.2.0
Pillow==9.5.0  # Make sure to include the correct version of Pillow for Python 3.10
